/*body, html {
    overflow: hidden;
}*/

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-content {
    text-align: left;
}

.formations-sidebar {
    position: absolute;
    width: 230px;
    transition: left .7s;
    background-color: #eee;
    height: 100vh;
    top: 0;
}

.formations-sidebar.out {
    left: 0px;
}

.formations-sidebar.in {
    left: -240px;
}

.formations-sidebar .toggle {
    user-select: none;
    border-radius: 0px 25px 25px 0px;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 40vh;
    bottom: 40vh;
    left: 229px;
    color: #333;
    background-color: #eee;
    /*border-color: #ddd;*/
}

.formations-sidebar .toggle:focus, button:focus {
    outline: 0;
}

.formations-sidebar .toggle span {
    transition: transform .7s;
}

.formations-sidebar.out .toggle span {
    transform: rotate(0.5turn);
}

.sidebar-header {
    margin-top: 0px;
    border-bottom: 2px solid #eee;
    padding: 8px;
}

.sidebar-list-container {
    overflow:auto;
    max-height: 100%;
    padding: 15px;
}

.sidebar-list,.sidebar-list-container a {
    text-decoration: none;
}

.panel {
    margin-bottom: 5px;
}

.panel-body {
    padding-left: 10px;
    text-align: left;
}
